<div class="container text-decoration-none p-5">
  <div class="d-flex flex-wrap justify-content-between align-items-center">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 lh-1 text-light">
        <i class="fa-solid fa-language fa-2xl"></i>
      </a>
      <span class="mb-3 mb-md-0 ">
        <script>document.write(new Date().getFullYear());</script> Hirakana, App
      </span>
    </div>
    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3">
        <a class="text-light" href="#">
          <i class="fa-brands fa-twitter-square fa-2xl"></i>
        </a>
      </li>
      <li class="ms-3">
        <a class="text-light" href="#">
          <i class="fa-brands fa-facebook-square fa-2xl"></i>
        </a>
      </li>
      <li class="ms-3">
        <a class="text-light" href="#">
          <i class="fa-brands fa-youtube-square fa-2xl"></i>
        </a>
      </li>
    </ul>
  </div>
  <div class="d-flex flex-column flex-wrap justify-content-between align-items-centerborder-top pt-4 pb-2">
    <ul class="nav justify-content-center">
      <li class="nav-item "><a href="#" class="nav-link px-2 text-light ">Home</a></li>
      <li class="nav-item "><a href="#" class="nav-link px-2  text-light">Kana Lesson</a></li>
      <li class="nav-item "><a href="#" class="nav-link px-2  text-light">Kana Quiz</a></li>
      <li class="nav-item "><a href="#" class="nav-link px-2  text-light">Info</a></li>
    </ul>
  </div>
</div>